body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
}

.top-background {
  background-image: url('/assets/images/background-pattern-desktop.svg');
  /* Replace with your actual image path */
  background-size: cover;
  background-position: center;
  height: 40%;
  /* Adjust the height of the top background */
  flex-shrink: 0;
}

.bottom-background {
  background-color: hsl(275, 100%, 97%);
  background-size: cover;
  background-position: center;
  flex-grow: 1;
}

.center-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: -130px;
}

.card-title {
  font-size: 50px;
  font-weight: 700;
  color: hsl(292, 42%, 14%);
}

.card-content-text {
  font-size: 16px;
  color: hsl(292, 16%, 49%);
  border: none;
}

.fw-semibold {
  color: hsl(292, 42%, 14%);
}

.card-width{
  width: 550px;
}